button {
    background-color: #ffffff;
	border: 2px solid #000000;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}
button:hover {
    background-color: #000000;
	color: white;
}

